
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section Css {
    <link rel="stylesheet" href="~/css/Product.css" />
}
<h1 style="margin-left:10px; font-style:initial; font-weight:bold">Home</h1>
<div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div id="card">
            <div id="card_heart">
                <i class='bx bx-heart'></i>
            </div>
            <div id="card_cart">
                <i class='bx bx-cart'></i>
            </div>
            <div id="card_img">
                <img src="~/product_imgs/remove.png" alt="">
            </div>
            <div id="card_title" style="color: green;">
                Bitis Hunter X 2019
            </div>
            <div id="card_price">
                $99
            </div>
            <div id="card_size">
                <h6>Size:</h6>
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
            </div>
            <div id="card_color">
                <h6>Color:</h6>
                <span class="card_color-red"></span>
                <span class="card_color-green"></span>
                <span class="card_color-black"></span>
            </div>
            <div id="card_action">
                <button type="submit">Add cart</button>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-lg-4 col-md-4">
        <div id="card">
            <div id="card_heart">
                <i class='bx bx-heart'></i>
            </div>
            <div id="card_cart">
                <i class='bx bx-cart'></i>
            </div>
            <div id="card_img">
                <img src="~/product_imgs/demo1.png" alt="">
            </div>
            <div id="card_title" style="color: green;">
                Bitis Hunter X 2019
            </div>
            <div id="card_price">
                $99
            </div>
            <div id="card_size">
                <h6>Size:</h6>
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
            </div>
            <div id="card_color">
                <h6>Color:</h6>
                <span class="card_color-red"></span>
                <span class="card_color-green"></span>
                <span class="card_color-black"></span>
            </div>
            <div id="card_action">
                <button type="submit">Add cart</button>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-lg-4 col-md-4">
        <div id="card">
            <div id="card_heart">
                <i class='bx bx-heart'></i>
            </div>
            <div id="card_cart">
                <i class='bx bx-cart'></i>
            </div>
            <div id="card_img">
                <img src="~/product_imgs/remove.png" alt="">
            </div>
            <div id="card_title" style="color: green;">
                Bitis Hunter X 2019
            </div>
            <div id="card_price">
                $99
            </div>
            <div id="card_size">
                <h6>Size:</h6>
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
            </div>
            <div id="card_color">
                <h6>Color:</h6>
                <span class="card_color-red"></span>
                <span class="card_color-green"></span>
                <span class="card_color-black"></span>
            </div>
            <div id="card_action">
                <button type="submit">Add cart</button>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-lg-4 col-md-4">
        <div id="card">
            <div id="card_heart">
                <i class='bx bx-heart'></i>
            </div>
            <div id="card_cart">
                <i class='bx bx-cart'></i>
            </div>
            <div id="card_img">
                <img src="~/product_imgs/remove.png" alt="">
            </div>
            <div id="card_title" style="color: green;">
                Bitis Hunter X 2019
            </div>
            <div id="card_price">
                $99
            </div>
            <div id="card_size">
                <h6>Size:</h6>
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
            </div>
            <div id="card_color">
                <h6>Color:</h6>
                <span class="card_color-red"></span>
                <span class="card_color-green"></span>
                <span class="card_color-black"></span>
            </div>
            <div id="card_action">
                <button type="submit">Add cart</button>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-lg-4 col-md-4">
        <div id="card">
            <div id="card_heart">
                <i class='bx bx-heart'></i>
            </div>
            <div id="card_cart">
                <i class='bx bx-cart'></i>
            </div>
            <div id="card_img">
                <img src="~/product_imgs/remove.png" alt="">
            </div>
            <div id="card_title" style="color: green;">
                Bitis Hunter X 2019
            </div>
            <div id="card_price">
                $99
            </div>
            <div id="card_size">
                <h6>Size:</h6>
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
            </div>
            <div id="card_color">
                <h6>Color:</h6>
                <span class="card_color-red"></span>
                <span class="card_color-green"></span>
                <span class="card_color-black"></span>
            </div>
            <div id="card_action">
                <button type="submit">Add cart</button>
            </div>
        </div>
    </div>


</div>

