* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-sm-4 col-lg-4 col-md-4{
    top:-100px;
}
#card {
    color: white;
    margin: 60px auto;
    width: 160px;
    height: 240px;
    background: #C0C0C0 /*#272d40*/;
    padding: 10px;
    border-radius: 7px;
    position: relative;
}

#card_heart, #card_cart {
    position: absolute;
    font-size: 12px;
    left: 10px;
    top: 7px;
}

#card_cart {
    left: unset;
    right: 10px;
}

#card_img {
    margin-top: -40px;
    width: 90%;
    transition: 0.5s;
}

    #card_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

#card_title, #card_price {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

#card_size, #card_color {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

    #card_size span {
        background: #dadada;
        padding: 0.5px 5px;
        color: black;
        border-radius: 5px;
        margin: 0 2px;
    }

    #card_color span {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0 2px;
    }

.card_color-red {
    background: red;
}

.card_color-green {
    background: green;
}

.card_color-black {
    background: black;
}

#card_action button {
    margin-top: 15px;
    background: forestgreen;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

#card:hover #card_img {
    transform: translateY(-45px) rotate(-10deg);
}

#card:hover #card_title {
    transform: translate(-5px,-50px);
}

#card:hover #card_price {
    transform: translate(-61px,-50px);
}

#card_size {
    margin-top: -70px;
}

#card_size, #card_color, #card_action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#card:hover #card_size,
#card:hover #card_color,
#card:hover #card_action {
    visibility: visible;
    opacity: 100;
}

#card:hover #card_size {
    margin-top: -30px;
}
